<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="com.dao.BuyOrderDao">
    <insert id="add" parameterType="com.entity.Order">
        insert into buyorder(orderType,goodsName,goodsDate,price,quantity,companyName) values(#{orderType},#{goodsName},#{goodsDate},#{price},#{quantity},#{companyName})
    </insert>

    <resultMap type="com.entity.Order" id="orderMap">
        <id column="buyOrderID" property="orderID"/>
        <result column="orderType" property="orderType"/>
        <result column="goodsName" property="goodsName"/>
        <result column="goodsDate" property="goodsDate"/>
        <result column="price" property="price"/>
        <result column="quantity" property="quantity"/>
        <result column="companyName" property="companyName"/>
        <!-- <association property="" column=""></association> -->
    </resultMap>

    <select id="queryNoPendingOrder" resultType="orderMap">
        select buyorder.buyOrderID,orderType,goodsName,goodsDate,price,buyorder.quantity,companyName from buyorder LEFT JOIN orderitem on buyorder.buyOrderID = orderitem.buyOrderID WHERE orderitem.orderItemID is NULL;
    </select>

    <select id="getMaxID" resultType="int">
        SELECT MAX (buyOrderID) FROM buyorder;
    </select>

    <resultMap type="com.entity.Order" id="orderMap2">
        <id column="buyOrderID" property="orderID"/>
        <result column="orderType" property="orderType"/>
        <result column="goodsName" property="goodsName"/>
        <result column="goodsDate" property="goodsDate"/>
        <result column="finalPrice" property="price"/>
        <result column="quantity" property="quantity"/>
        <result column="companyName" property="companyName"/>
        <!-- <association property="" column=""></association> -->
    </resultMap>

    <select id="queryMatchOrder" resultType="orderMap2">
        SELECT sellOrderID,orderType,goodsName,goodsDate,finalPrice,orderItem.quantity,companyName FROM orderitem LEFT JOIN sellorder ON orderitem.sellOrderID = sellorder.sellOrderID WHERE buyOrderID = #{0};
    </select>
</mapper>